<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> About Trip </title>

    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/about_me.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/89eca657d5.js" crossorigin="anonymous"></script>
</head>
<body>

{% include 'blog/navbar.html' %}

<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8">
                <h1>안녕하세요. 방랑식객입니다.</h1>
                <br/>
                <p class="lead">
                    자연과 여행을 좋아합니다.<br/>
                </p>

                <ul>
                    <li>Overseas Travel (해외여행)</li>
                    <ul>
                        <li>중국 - 상해, 서안, 북경</li>
                        <li>일본 - 후쿠오카</li>
                        <li>필리핀 - 마닐라</li>
                        <li>태국 - 방콕, 파타이</li>
                        <li>뉴질랜드</li>
                        <li>캄보디아</li>
                        <li>베트남</li>
                        <li>라오스</li>
                    </ul>
                    <br/>
                    <li>domestic travel (국내여행)</li>
                    <ul>
                        <li>경상북도 - 경주</li>
                        <li>충청남도 - 당진, 서산</li>
                        <li>전라북도 - 변산반도</li>
                        <li>강원도 - 설악산, 원주, 철원</li>
                        <li>DMZ</li>
                        <li>제주도</li>
                    </ul>

                </ul>

            </div>
            <div class="col-lg-4">
                <img class="img-fluid" src="{% static 'single_pages/images/peo.png' %}" width="300">
            </div>
        </div>
    </div>
</section>

<section class="bg-light margin-for-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Area List</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#tai">
                    <img class="card-img-top" src="{% static 'single_pages/images/tai.jpg' %}">
                    <div class="card-body">
                        <h5 class="card-title">태국여행 - 방콕</h5>
                        <p>2022.11.18 ~ 2022.11.25</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#japan">
                    <img class="card-img-top" src="{% static 'single_pages/images/japan.jpg' %}">
                    <div class="card-body">
                        <h5 class="card-title">일본여행 - 후쿠오카</h5>
                        <p>2015년 후쿠오카 여행</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#kor">
                    <img class="card-img-top" src="{% static 'single_pages/images/kor.jpg' %}">
                    <div class="card-body">
                        <h5 class="card-title">변산반도</h5>
                        <p>전라북도 변산반도 여행</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="tai" tabindex="-1" role="dialog" aria-labelledby="taiModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taiModalLabel">태국의 문화 보기.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/tai2.jpg' %}">
                    </div>
                    <div class="col-lg-5">
                        <p>바다에서 먹은 밥이 맛있었습니다.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="japan" tabindex="-1" role="dialog" aria-labelledby="japanModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="japanModalLabel">가까운 일본 여행</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/japan2.jpg' %}">
                    </div>
                    <div class="col-lg-5">
                        <p>일본의 식문화와 언어를 배우러 갔습니다..</p>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="kor" tabindex="-1" role="dialog" aria-labelledby="korModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="korModalLabel">한국의 자연풍경</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/kor2.jpg' %}">
                    </div>
                    <div class="col-lg-5">
                        <p>국내의 숨은 명소를 찾으러 갔습니다.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div>
{% include 'blog/footer.html' %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
</body>
</html>